.container-fluid {
  background-color: black;
  opacity: 1;
  background-attachment: fixed;
  color: yellow;
}

.navbar{
  background-color: black;
  color: yellow;
  opacity: 1;

}

/*Formattazione links*/
a:link{
  color: yellow;
}

a:visited{
  color: rgb(198, 198, 38);
}

a:focus,
a:hover{
  color: yellow;
}

a:active{
  color: red;
}

/*Formattazione testo all'interno del carosello*/
.carousel-caption{
  background-clip: content-box;
  background: white;
  opacity: 0.99; 
  color: black;
}

/*Formattazione body*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Formattazione blocco informazioni band*/
.information{
  background-color: white;
  text-align: center;
  background-clip: content-box;
  padding: 2em 8em 2em 8em;
}

h1{
  letter-spacing: 0.5em;
  text-align: center;
}

/*Formattazione blocco tour dates*/
.tour-dates{
  background-color: black;
  background-size: cover;
  text-align: center;
  padding: 2em 8em 2em 8em;
}

.tour-dates-desc{
  font-style: italic;
}

.list-group{
  text-align: left;
  font-style: italic;
}

/* .container{
  width: 800px;
} */

/*Formattazione blocco contatti*/
.contatti{
  background-color: white;
  background-clip: content-box;
  padding: 2em 8em 2em 8em;
}

.contatti-desc{
  text-align: left;
}

.contatti > col-md-8{
  text-align: left;
}

footer{
  background-color: black;
  background-size: cover;
  text-align: center;
  padding: 2em 8em 2em 8em;
  color: white;
}